<!DOCTYPE html>
<html>
<head>
    <title>Brick Predict</title>
</head>
<body>
    <h1>Predict Housing Price</h1>
    <form action="/predict" method="POST">
        <label for="sqft">Square Footage:</label>
        <input type="text" name="sqft" required>

        <label for="sqft">Bedrooms:</label>
        <input type="text" name="bedrooms" required>

        <label for="sqft">Bathrooms:</label>
        <input type="text" name="bathrooms" required>

        <label for="sqft">Condition:</label>
        <input type="text" name="condition" required>


        <button type="submit">Submit</button>
    </form>

    {% if prediction %}
        <p> Predicted price: {{ prediction }}</p>
    {% endif %}
</body>
</html>